apiVersion: v1
kind: Service
metadata:
  name: ai-agent-service
spec:
  # HELM-001: Exposed service
  type: LoadBalancer
  ports:
    - port: 8080
      targetPort: 8080
  selector:
    app: ai-agent
